<section>
    <!-- TITLE -->
    <div class="container">
        	<div class="heading-title heading-dotted text-center">
				<h2>INTERVENTION <span>FORM</span></h2>
			</div>
    </div>
    <!-- /TITLE -->

    <!-- FORM -->
        <div class="container form">
            <%= form_with(model: @intervention) do |f| %>
                <div id="customer" class="col-md-4">
                    <%= f.label "Customer" %>
                    <%= f.select :customers_id, getCustomers, {}, :onchange=>"updateAjax('customer');" %>
                </div>
                <div id="building" class="col-md-4">
                    <%= f.label "Building" %>
                    <%= f.select :buildings_id, Building.all, {},  :onchange => "updateAjax('building');" %>
                </div>
                <div id="battery" class="col-md-4">
                    <%= f.label "Battery" %>
                    <%= f.select :batteries_id, Battery.all, {}, :onchange => "updateAjax('battery');" %>
                </div>
                <div id="column" class="col-md-4">
                    <%= f.label "Column" %>
                    <%= f.select :columns_id, Battery.all, {}, :onchange => "updateAjax('column');" %>
                </div>
                <div id="elevator" class="col-md-4">
                    <%= f.label "Elevator" %>
                    <%= f.select :elevators_id, Column.all, {}, :onchange => "updateAjax('elevator');" %>
                </div>
                 <div id="employee" class="col-md-4">
                    <%= f.label "Employee" %>
                    <%= f.select :employees_id, getEmployees, {}, :onchange => "updateAjax('elevator');" %>
                </div> 
                <div id="description" class="col-md-8">
                    <%= f.label "Description" %>
                    <%= f.text_area :description %>
                </div>
                <div id="submit" class="col-md-8">
                    <%= f.submit %>
                </div>
            <%end%>
        </div>
</section>
    <!-- /FORM -->


<script>
    $(window).on('load', function() {
        $("#building, #battery, #column, #elevator").hide();
    })

    function updateAjax(object){
        let customerField = $("#customers_id");
        let customer = $("#customers_id").val();
        let buildingField = $("#buildings_id");
        let building = $("#buildings_id").val();
        let batteryField = $("#batteries_id");
        let battery = $("#batteries_id").val();
        let columnField = $("#columns_id");
        let column = $("#columns_id").val()
        let elevatorField = $("#elevators_id");

        let _url;
        let _dictionary;
        let _key;
        let _objectId;

        switch(object) {
            case "customer":
                _url = "/find_buildings";
                _dictionary = {customer_id: customer};
                _key = "buildings";
                _objectId = "#buildings_id"

                $("#building, #battery, #column, #elevator").hide();

                break;
            case "building":
                _url = "/find_batteries";
                _dictionary = {building_id: building};
                _key = "batteries";
                _objectId = "#batteries_id";
                break;
            case "battery":
                _url = "/find_columns";
                _dictionary = {battery_id: battery};
                _key = "columns";
                _objectId = "#columns_id";
                break;
            case "column":
                _url = "/find_elevators";
                _dictionary = {column_id: column};
                _key = "elevators";
                _objectId = "#elevators_id";
                break;
        }
        $.ajax({
            url: _url,
            method: "GET",  
            dataType: "json",
            data: _dictionary,
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                objectList  = response[_key];
                showFields(object);
                updateFields(_objectId);
            }
        })
    }
             
    function updateFields(_objectId) {      
      if (_objectId == "#columns_id" || _objectId == "#elevators_id") {
        $(_objectId).append('<option selected="None"  value="null">None</option>');
      }
      else {
        $(_objectId).append('<option selected="selected" disabled="disabled" value="null">Select</option>');
      }

        for(let i = 0; i < objectList.length; i++){
            $(_objectId).append("<option value=" + objectList[i] + ">" + objectList[i] + "</option>");
        }
    }

    function showFields(object) {
        if (object == ('customer')){

            $("#building").show();
            $("#buildings_id, #batteries_id, #columns_id, #elevators_id").empty();
            $("#battery, #column, #elevator").hide();

        }else if (object == ('building')){

            $("#building, #battery").show();
            $("#batteries_id, #columns_id, #elevators_id").empty();
            $("#column, #elevator").hide();
            
        }else if (object == ('battery')){

            $("#building, #battery, #column").show();
            $("#columns_id, #elevators_id").empty();
            $("#elevator").hide();

        }else if (object == ('column')){

            $("#building, #battery, #column, #elevator").show();
            $("#elevators_id").empty();
        }
    };
</script>