<section>
    <!-- TITLE -->
    <div class="container">
        	<div class="heading-title heading-dotted text-center">
				<h2>INTERVENTION <span>FORM</span></h2>
			</div>
    </div>
    <!-- /TITLE -->

    <!-- FORM -->
        <div class="container form">
            <%= form_for(Intervention.new) do |f| %>
                <div>
                    <%= f.label "Customer" %>
                    <%= f.select :customers_id, selectCustomers, {}, :id => "customer-id", :onchange => 'ajax();' %>
                </div>
                <div>
                    <%= f.label "Building ID" %>
                    <%= f.select :buildings_id, {}, :id => "building-id" %>
                </div>
            <%end%>
        </div>
</section>
    <!-- /FORM -->


<script>
    function ajax(){
        var customerSelection = $('#customer-id');
        var customerId = customerSelection.val();
        console.log("customer ID: ", customerId);

        $.ajax({
            url: "/buildings",
            method: "GET",  
            dataType: "json",
            data: {customer_id: customerId},
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var buildingList  = response["buildings"];
                $("building-id").empty();

                $("building-id").append('<option>Select</option>');
                for(var i = 0; i < buildingList.length; i++){
                    $("building-id").append('<option value="' + buildingList['buildings'][i] + '">' + buildingList['buildings'][i] + '</option>');
                }
           }
        })
                    console.log("hello")
    };
</script>