<section>
    <!-- TITLE -->
    <div class="container">
        	<div class="heading-title heading-dotted text-center">
				<h2>INTERVENTION <span>FORM</span></h2>
			</div>
    </div>
    <!-- /TITLE -->

    <!-- FORM -->
        <div class="container form">
            <%= form_with(model: @intervention) do |f| %>
                <div id="customer" class="col-md-4">
                    <%= f.label "Customer" %>
                    <%= f.collection_select :customers_id, Customer.all, :id, :company_name, include_blank: true %>
                </div>
                <div id="building" class="col-md-4">
                    <%= f.label "Building" %>
                    <%= f.collection_select :buildings_id, Building.all, :id, :id, include_blank: true %>
                </div>
            <%end%>
        </div>
</section>
    <!-- /FORM -->


<script>

    $("#customers_id").change(function(){
        let customer = $(this).val();

        $.ajax({
            url: "/update_buildings",
            method: "GET",  
            dataType: "json",
            data: {customer_id: customer},
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                let buildingList  = response;
                $("#buildings_id").empty();

                $("#buildings_id").append("<option> --- SELECT --- </option>");
                for(let i = 0; i < buildingList['buildings'].length; i++){
                    $("#buildings_id").append("<option value=" + buildingList['buildings'][i].id + ">" + buildingList['buildings'][i].address_building + "</option>");
                }
           }
        })
                console.log("hello")
    });

</script>