<!-- WRAPPER -->
		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

        <!-- TOP NAV -->
        <header id="topNav">
            <div class="container">
                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Logo -->
                <%= link_to image_tag('logo-transparent.png'), root_path, :alt => "Rocket Elevators logo", :class => "logo float-left scrollTo" %>
                <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                    <nav class="nav-main">
                        <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                            <li class="active"><!-- HOME -->
                                <%= link_to "HOME",root_path, :id => "home-nav" %>
                            </li>
                            <li>
								<a id="service-nav" href="#services">SERVICES</a>    
								<ul class="dropdown-menu">
									<li><%= link_to "Services",root_path(:anchor => "services"), class: "dropdown-item" %></li>
									<div class="dropdown-divider"></div>
									<li><%= link_to "Corporate Buildings",pages_commercial_url, class: "dropdown-item" %></li>
									<li><%= link_to "Residential Buildings",pages_residential_url, class: "dropdown-item" %></li>
									<li><%= link_to "Request a Quote",pages_quote_url, class: "dropdown-item" %></li>
								</ul>    
							</li>
                            <li><!-- PORTFOLIO -->
                                <%= link_to "PORTFOLIO",root_path(:anchor => "portfolio") %>
                            </li>
                            <li><!-- NEWS -->
                                <%= link_to "NEWS",root_path(:anchor => "news") %>
                            </li>
                            <li><!-- CLIENTS -->
                                <%= link_to "CLIENTS",root_path(:anchor => "clients") %>
                            </li>
                            <li><!-- CONTACT -->
                                <%= link_to "CONTACT",root_path(:anchor => "contact") %>
                            </li>
                            <% if user_signed_in? && current_user.supervisor_role? %>
								<li><!--Intervention -->
									<%= link_to "INTERVENTION", pages_intervention_url%>
								</li>
								<li><!-- ADMIN -->
									<%= link_to "ADMIN", rails_admin_url %>
								</li>
								<li><!-- LOGOUT -->
									<%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
								</li>
							<% elsif user_signed_in? %>
								<li><!-- LOGOUT -->
									<%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
								</li>
							<% else %>
								<li><!-- LOGIN -->
									<%= link_to "LOGIN", new_user_session_path %>
								</li>
							<% end %>
                        </ul>

                    </nav>
                </div>
            </div>
        </header>
        <!-- /Top Nav -->
			</div>
